@model List<EventAll.Models.Venue>

<h1>List of Venues:</h1>


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Price</th>
    </tr>
    </thead>
    @foreach (var venue in Model)
    {
        <tr>
            <td><a asp-controller="Venue" asp-action="ViewVenue" asp-route-id="@venue.ID">@venue.Name</a></td>
            <td>@venue.Capacity</td>
            <td>$@venue.Price</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No Venues yet!</p>
}

<p>
    <a asp-controller="Venue" asp-action="Add">Add Venue </a>|<a asp-controller="Venue" asp-action="Remove"> Remove Venue</a>
</p>
