@model EventAll.ViewModels.ViewEquipmentViewModel

<h1>List of Equipment:</h1>


<table class="table">

    <tr>
        <th>Name</th>
        <th># of Equipment</th>
        <th>Price Per Item</th>
    </tr>

    @foreach (var equipment in Model.Equipments)
    {
<tr>
    <td><a asp-controller="Equipment" asp-action="ViewEquipment" asp-route-id="@equipment.ID">@equipment.Name</a></td>
        @if (equipment.Items == null)
        {
            equipment.Items = new List<Item>();
        }
        <td>@equipment.Items.Count()</td>
   
        
    
    <td>$@equipment.Price</td>
</tr>
    }
</table>

@if (Model.Equipments.Count == 0)
{
    <p>No Equipment yet!</p>
}

<p>
    <a asp-controller="Equipment" asp-action="Add">Add Equipment </a>|<a asp-controller="Equipment" asp-action="Remove"> Remove Equipment</a>
</p>
