@model EventAll.ViewModels.AddStaffViewModel

<h1>Add Staff</h1>

<form asp-controller="Staff" asp-action="Add" method="post">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <label asp-for="Job"></label>
    <input class="form-control" asp-for="Job" />
    <span asp-validation-for="Job"></span>
    <label asp-for="Wage"> per/hour</label>
    <input class="form-control" asp-for="Wage" />
    <span asp-validation-for="Wage"></span>
    <input type="submit" value="Add Staff" />


</form>